td{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
td > input{
   width: 100%;
   height: 100%;
   font-size: x-large;
   text-align: center;
   border: none;
}

#sudoku{
    /* border-collapse: separate; */

    margin-left: auto;
    margin-right: auto;
}

.fail{
    background-color: rgba(255, 0, 128, 0.589) !important;
}

#set-up-but{
    margin-top: 40px;
    border: 1px solid black;
    width: 40%;
}

.selected-sector{
    background-color: rgba(27, 116, 189, 0.459);
}

.selected-cell{
    background-color: rgb(4, 141, 253);
}

.selected-row, .selected-column{
    background-color: rgba(27, 116, 189, 0.836);

}

.container{
    text-align: center;  
}
